{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>VKM Flowershop | Home</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Poppins:400,600,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
  <!-- <link rel="stylesheet" href="{% static 'css/login.css' %}"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>


<body>

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/">
            <span>
              VKM
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about"> About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/gallery"> Gallery </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact us</a>
                </li>
              </ul>
            </div>
            <div class="quote_btn-container ">
              <button id="myBtn">login</button>
              <a href="">
                <img src="{% static 'images/cart.png' %}" alt="">
              </a>
              <form class="form-inline">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
              </form>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section position-relative">
      <div class="slider_number-container ">
        <div class="number-box">
          <span>
            01
          </span>
          <hr>
          <span>
            02
          </span>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="col-lg-6 col-md-8">
                  <div class="detail_box">
                    <h2>
                      Welcome
                    </h2>
                    <h1>
                     VKM Flowers shop
                    </h1>
                    <p>
                      "Whether you're looking for a simple bouquet or an elaborate floral display, we have a wide selection to suit every taste and occasion."
                    </p>
                    <div>
                      <a href="">Buy Now</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-lg-6 col-md-8">
                  <div class="detail_box">
                    <h2>
                      Welcome
                    </h2>
                    <h1>
                     VKM Flowers shop
                    </h1>
                    <p>
                      "Choose from our extensive collection of flowers, whether you need just a few stems to brighten a room or a large arrangement to make a statement."
                    </p>
                    <div>
                      <a href="">Buy Now</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-lg-6 col-md-8">
                  <div class="detail_box">
                    <h2>
                      Welcome
                    </h2>
                    <h1>
                     VKM Flowers shop
                    </h1>
                    <p>
                      "No matter the size of your floral needs, we are here to provide beautifully crafted arrangements that bring joy and elegance to any setting."
                    </p>
                    <div>
                      <a href="">Buy Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel_btn-container">
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- end slider section -->
  </div>

  <!-- about section -->
  <section class="about_section ">
    <div class="section_number">
      01
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xl-7">
          <div class="img-box">
            <img src="{% static 'images/about-img.png' %}" alt="" />
          </div>
        </div>
        <div class="col-md-5 col-xl-5">
          <div class="detail_box">
            <div class="heading_container justify-content-end">
              <h2>
                About Flowers
              </h2>
            </div>
            <p>
              Flowers have long been a symbol of beauty, love, and celebration. At <b>VKM Flowers Shop</b>, we believe that flowers have the power to transform any moment into something extraordinary. Each bloom tells a story, from the delicate petals of a rose to the vibrant hues of a tulip.
              Our collection includes a wide variety of stunning flowers such as roses, tulips, lilies, daisies, sunflowers, orchids, carnations, peonies, hydrangeas, chrysanthemums, daffodils, irises, anemones, gardenias, marigolds, gerbera daisies, lavender, poppies, ranunculus, snapdragons, sweet peas, zinnias, gladiolus, delphiniums, begonias, freesias, lilacs, magnolias, hibiscus, and azaleas.
              Our commitment to quality ensures that every flower in our shop is handpicked from the finest growers, both locally and internationally. Whether you're looking to brighten someone's day, celebrate a special occasion, or simply enjoy the natural beauty of flowers, we offer a diverse selection of fresh, stunning arrangements designed to leave a lasting impression.
              Let us help you bring the timeless elegance of flowers into your life and the lives of those you care about.
            </p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- end about section -->

  <!-- why section -->
  <section class="why_section layout_padding">
    <div class="section_number">
      02
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>
            Why Choose Us
          </h2>
          <p>
            At VKM Flowers Shop, we strive to provide an exceptional floral experience for all our customers. Our team of experienced florists brings creativity and attention to detail to every arrangement, ensuring beautiful, bespoke designs tailored to your needs.
            We are committed to using only the freshest flowers, sourced from the finest growers both locally and internationally, guaranteeing vibrant and long-lasting bouquets. Your satisfaction is our top priority, and our friendly, knowledgeable staff is dedicated to providing exceptional customer service, going above and beyond to make your experience memorable and enjoyable.
            We offer personalized floral designs for any occasion, be it a wedding, birthday, anniversary, or just to brighten someone's day. Our reliable and timely delivery services ensure your flowers arrive in perfect condition, handled with care and precision. Passionate about flowers and their ability to convey emotions and create lasting memories, we continually innovate to provide the best floral experience possible. 
            Choose VKM Flowers Shop for all your floral needs and let us help you celebrate life's special moments with the beauty and elegance of flowers.
          </p>
          <div>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end why section -->

  <!-- gallery section -->
  <section class="gallery_section layout_padding">
    <div class="section_number">
      03
    </div>
    <div class="heading_container justify-content-center">
      <h2>
        Our Gallery
      </h2>
    </div>
    <div class="container">
      <div class="img_container">
        <div class="box-1">
          <div class="box-1-container">
            <div class="b-1">
              <div class="img-box">
                <img src="{% static 'images/g-1.jpg' %}" alt="">
              </div>
              <div class="img-box">
                <img src="{% static 'images/g-4.jpg' %}" alt="">
              </div>
            </div>
            <div class="b-2">
              <div class="img-box">
                <img src="{% static 'images/g-2.jpg' %}" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="box-2">
          <div class="img-box">
            <img src="{% static 'images/g-3.jpg' %}" alt="">
          </div>
          <div class="img-box">
            <img src="{% static 'images/g-5.jpg' %}" alt="">
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="/gallery">
          View More
        </a>
      </div>
    </div>
  </section>

  <!-- end gallery section -->

  <!-- contact section -->
  <section class="contact_section layout_padding-bottom">
    <div class="section_number">
      04
    </div>
    <div class="container">
      <h2 class="">
        Contact Us
      </h2>
    </div>
    <div class="contnainer">
      <div class="row">
        <div class="col-md-6 ">
          <form id="contactForm">
            {% csrf_token %}
            <div class="contact_form-container">
              <div>
                <div>
                    <input type="text" id="name" placeholder="Name" required>
                </div>
                <div>
                    <input type="email" id="email" placeholder="Email" required>
                </div>
                <div>
                    <input type="text" id="phone" placeholder="Phone Number" required>
                </div>
                <div class="mt-5">
                    <input type="text" id="message" placeholder="Message" required>
                </div>
                <div class="mt-5">
                    <button type="submit">
                        Send
                    </button>
                </div>
            </div>

            </div>

          </form>
        </div>
        <div class="col-md-6 ">
          <div class="contact_img-box">
            <img src="{% static 'images/contact-img.jpg' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->

  <!-- info section -->
  <section class="info_section layout_padding">
    <div class="container">
      <div class="info_logo">
        <h2>
          VKM
        </h2>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="info_contact">
            <h5>
              About Shop
            </h5>
            <p>
              Welcome to VKM Flower Shop, where the beauty of nature meets the art of floristry. Established in 2010, we are a family-owned and operated flower shop dedicated to bringing joy and elegance to your special moments with our stunning floral arrangements.
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_contact">
            <h5>
              Contact Us
            </h5>
            <div>
              <img src="{% static 'images/location-white.png' %}" alt="">
              <p>
                Kaliyamman Kovil Opposite, Periyakulam main road, Batlagundu, Nilakottai taluk, Dindigul district
              </p>
            </div>
            <div>
              <img src="{% static 'images/telephone-white.png' %}" alt="">
      
              <p>
                <a class="contact-link" href="tel:+918344924066">+91 8344924066</a><br>
                <a class="contact-link" href="tel:+919345568456">+91 9345568456</a>
            </p>
            
            </div>
            <div>
              <img src="{% static 'images/envelope-white.png' %}" alt="">
              <p>
                <a href="mailto:vkmflowersfromindia@gmail.com" class="contact-link">vkmflowersfromindia@gmail.com</a><br>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_contact">
            <h5>
              Best Products
            </h5>
            <p>
              Elegant Rose Bouquet, Sunny Sunflower Arrangement, Luxurious Orchid Display, Spring Garden Basket, Romantic Peony Bouquet, Holiday Cheer Centerpiece, Serene Sympathy Arrangement.
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_contact">
            <h5>
              Follow Us
            </h5>
            <div class="social_box">
              <a href="">
                <img src="{% static 'images/fb.png' %}" alt="">
              </a>
              <a href="">
                <img src="{% static 'images/twitter.png' %}" alt="">
              </a>
              <a href="">
                <img src="{% static 'images/linkedin.png' %}" alt="">
              </a>
              <a href="">
                <img src="{% static 'images/instagram.png' %}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->

  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <div class="wrapper">
        <header>Login</header>
        <form class="form" id="login-form">
          {% csrf_token %}
          <div class="field email">
            <div class="input-area">
              <input type="text" id="emailId" placeholder="Email Address" required>
              <i class="icon fas fa-envelope"></i>
              <i class="error error-icon fas fa-exclamation-circle"></i>
            </div>
            <div class="error error-txt">Email can't be blank</div>
          </div>
          <div class="field password">
            <div class="input-area">
              <input type="password" id="password" placeholder="Password" required>
              <i class="icon fas fa-lock"></i>
              <i class="error error-icon fas fa-exclamation-circle"></i>
            </div>
            <div class="error error-txt">Password can't be blank</div>
          </div>
          <div class="pass-txt"><a href="#">Forgot password?</a></div>
          <button type="submit">Login</button>
        </form>
        <div class="sign-txt">Not yet member? <a href="/signup">Signup now</a></div>
      </div>
    </div>
  </div>



  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      &copy; 2024 All Rights Reserved. Design by
      <a href="https://html.design/">Ruban | febinoSolutions</a>
    </p>
  </section>
  <!-- footer section -->

  <!-- jQery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- bootstrap js -->
  <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
  <!-- owl carousel -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/owl.carousel.min.js"></script>
  <!-- custom js -->
  <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
  <script src="{% static 'js/login.js' %}"></script>
  <script src="{%static 'js/index.js'%}"></script>

  <script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function() {
      modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>
</body>

</html>
